.title {
  padding: 4rem 0;
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  margin-bottom: 5rem;
}

.title {
  h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: $text-color-dark;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.pricing-card {
  display: flex;
  flex-direction: column;
  width: 58rem;
  max-width: 100%;
  background-color: $pricing-component-bg-color;
  padding: 1rem 4rem;
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;

  &__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    padding: 3rem 1rem;
    letter-spacing: 2px;

    &-views {
      text-transform: uppercase;
    }

    &-price--number {
      font-size: 4.2rem;
      letter-spacing: 1px;
      color: $text-color-dark;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $pricing-component-bg-color;
    padding: 4rem;
    border-radius: 0 0 15px 15px;

    ul {
      margin-left: 1rem;
      list-style-type: none;
      list-style-image: url("../images/icon-check.svg");
    }

    ul li:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    button {
      border: none;
      border-radius: 25px;
      padding: 1rem 4rem;
      font-family: inherit;
      color: $cta-text-color;
      background-color: $text-color-dark;
    }

    button:focus {
      outline: 0;
    }

    button:active {
      outline: 0;
      transform: scale(0.98);
    }
  }
}

hr {
  display: block;
  border: none;
  border-top: 2px solid $main-bg-color;
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
