.title {
  padding: 4rem 0;
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  margin-bottom: 5rem;
}

.title {
  h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: $text-color-dark;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.pricing-card-container {
  width: 58rem;
  max-width: 100%;
}

.pricing-card {
  display: flex;
  flex-direction: column;

  width: 100%;
  background-color: $pricing-component-bg-color;
  padding: 1rem 4rem;
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;
  @media only screen and (max-width: 500px) {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    font-weight: 800;
    padding: 3rem 1rem 0 1rem;
    letter-spacing: 2px;
    //600px
    @media only screen and (max-width: 37.5em) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }

    &-views {
      text-transform: uppercase;
      justify-self: start;
      grid-column: 1/2;
      grid-row: 1/1;
      @media only screen and (max-width: 37.5em) {
        //600px
        justify-self: center;
      }
    }

    &-price {
      justify-self: end;
      //600px
      @media only screen and (max-width: 37.5em) {
        grid-row: 3;
        justify-self: center;
        align-self: start;
      }

      &--number {
        font-size: 4.2rem;
        letter-spacing: 1px;
        color: $text-color-dark;
        //500px
        @media only screen and (max-width: 31.25em) {
          font-size: 3.5rem;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $pricing-component-bg-color;
    padding: 4rem;
    border-radius: 0 0 15px 15px;
    //500px
    @media only screen and (max-width: 31.25em) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;
    }

    ul {
      margin-left: 1rem;
      list-style-type: none;
      list-style-image: url("../images/icon-check.svg");

      li:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    button {
      border: none;
      border-radius: 25px;
      padding: 1rem 4rem;
      font-family: inherit;
      color: $cta-text-color;
      background-color: $text-color-dark;
      //500px
      @media only screen and (max-width: 31.25em) {
        margin-top: 3rem;
      }
      //280px
      @media only screen and (max-width: 17.5em) {
        padding: 1rem 2rem;
      }
    }

    button:focus {
      outline: 0;
    }

    button:active {
      outline: 0;
      transform: scale(0.98);
    }
  }
}

hr {
  display: block;
  border: none;
  border-top: 2px solid $main-bg-color;
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
