@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

//primary colors
$full-slider-color: hsl(174, 77%, 80%);
$slider-bg-color: hsl(174, 86%, 45%);
$slider-thumb-active: hsl(174, 86%, 60%);
$discount-bg-color: hsl(14, 92%, 95%);
$discount-text-color: hsl(15, 100%, 70%);
$cta-text-color: hsl(226, 100%, 87%);

//neutral colors
$pricing-component-bg-color: hsl(0, 0%, 100%);
$main-bg-color: hsl(230, 100%, 99%);
$empty-slider-bar-color: hsl(224, 65%, 95%);
$toggle-background-color: hsl(223, 50%, 87%);
$text-color: hsl(225, 20%, 60%);
$text-color-dark: hsl(227, 35%, 25%);

/*
10K pageviews / $8 per month
50K pageviews / $12 per month
100K pageviews / $16 per month
500k pageviews / $24 per month
1M pageviews / $36 per month

*/
